<!--
 @author    Tesselina Spaeth <tesselina.spaeth@hs-augsburg.de>
 @copyright 2017
 @license   CC-BY-NC-SA-4.0
-->
<!DOCTYPE html>
<html lang="en">

  <head>
    <% include templates/head.ejs%>
  </head>

  <body>
  <% include templates/header.ejs%>
<p> hallo </p>
  <div class="container">
    <%include templates/body.ejs %>
  </div>

    <% include templates/footer.ejs%>

  </body>

</html>