  <section id="section_form">
    <h1>Hallo was gehtv !</h1>
    <form>
      <div>
        <label for="input_name">Wie heißt du?</label>
        <input id="input_name" type="text" autofocus="autofocus" />
      </div>
      <div>
        <button type="reset">Reset</button>
        <button id="button_submit" type="button">Say hello</button>
      </div>
    </form>
  </section>

  <section id="section_welcome" class="hidden">
    <h1 id="text_hello">Hello, ...!</h1>
    <p>Welcome to Multimedia Programming!</p>
  </section>

  <script>
      var name = <%- JSON.stringify(name) %>;
      <!-- var name = !{JSON.stringify(name)}; -->
    </script>

<script type="text/javascript" src="js/main.js"></script>